<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bulma is included -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
    <script src="{{url_for('static', filename='main.js')}}"></script>
</head>

<body style="margin: 0; padding: 0;">
    <div id="app">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <span class="icon">
                        <i data-feather="settings"></i>
                    </span>
                    <h2 class="subtitle">&nbsp;Kayen</h2>
                </a>
                <a id="burger" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/">
                        Home
                    </a>

                    <a class="navbar-item" href="/documentation">
                        Documentation
                    </a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary" href="/settings">
                                <strong>Settings</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="section" id="notification-holder">
            {% for message in get_flashed_messages() %}
            {% if 'Caution! Some Values were blank or wrong type, so they were not saved!' in message %}
            <div id="alert" class="notification is-warning is-light">
                <button class="delete" onclick="toggleAlert(this)"></button>
                <i data-feather="alert-triangle"></i>
                {{ message }}
            </div>
            {% else %}
            <div id="alert" class="notification is-success is-light">
                <button class="delete" onclick="toggleAlert(this)"></button>
                <i data-feather="check-circle"></i>
                {{message}}
            </div>
            {% endif %}
            {% endfor %}

            <div id="chartAlertSuccess" class="notification is-success is-light is-hidden">
                <button class="delete" onclick="toggleAlert(this)"></button>
                <i data-feather="check-circle"></i>
                Successfully Updated!
            </div>

            <div class="container">
                <h1 class="title">Settings</h1>
                <div class="container">
                    <h1 class="title is-4 mb-3">Thresholds</h1>
                    <hr class="mt-0" />

                    <form action="{{ url_for('options') }}" method="post">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Heating Threshold</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control is-expanded has-icons-left">
                                        <span class="icon is-small is-left">
                                            <i data-feather="thermometer"></i>
                                        </span>
                                        <input name="tempInput" class="input" type="text" placeholder="{{options[0]}}">
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Ventilation Threshold</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control is-expanded has-icons-left">
                                        <span class="icon is-small is-left">
                                            <i data-feather="wind"></i>
                                        </span>
                                        <input name="ventsInput" class="input" type="text" placeholder="{{options[1]}}">
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Watering Threshold</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control is-expanded has-icons-left">
                                        <span class="icon is-small is-left">
                                            <i data-feather="droplet"></i>
                                        </span>
                                        <input name="waterInput" class="input" type="text" placeholder="{{options[2]}}">
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label">
                                <!-- Left empty for spacing -->
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <button class="button is-primary" onclick="toggleModal()" type="button">
                                            Confirm
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal" id="modal">
                            <div class="modal-background"></div>
                            <div class="modal-card">
                                <header class="modal-card-head">
                                    <p class="modal-card-title">Warning</p>
                                    <button class="delete" aria-label="close" onclick="toggleModal()"></button>
                                </header>
                                <section class="modal-card-body">
                                    <p class="is-text">
                                        Are you sure you want to overwrite the settings? You cannot revert it later!
                                    </p>
                                </section>
                                <footer class="modal-card-foot">
                                    <button class="button is-danger" type="submit">Save
                                        changes</button>
                                    <button class="button" onclick="toggleModal()">Cancel</button>
                                </footer>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="container mt-5">
                <h1 class="title is-4 mb-3">Charts</h1>
                <hr class="mt-0" />
                <section>
                    <button class="button is-warning" onclick="backupChartdata()">Backup Chartdata</button>
                    <button class="button is-danger" onclick="resetChartdata()">Backup and Reset Chartdata</button>
                    <button class="button is-danger" onclick="importChartdata()">Import latest Backup</button>
                </section>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/feather-icons"></script>
    <script>
        feather.replace()
    </script>
</body>

</html>